build/
out/
.vs/
.vscode/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CTestTestfile.cmake
Testing/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*.user
*.obj
*.o
*.exe
*.dll
*.so
*.dylib
*.a
*.lib
*.pdb
*.ilk
*.log
